In [1]:
import pandas as pd

In [2]:
filename = ("houses_dict.csv")
df = pd.read_csv(filename)

In [3]:
df.head()

,quartos,m2_quadrado,garagem,banheiros,direto com o proprietario,preço,cidade,bairro
0,4.0,120.0,2.0,3.0,1,R$ 290.000,Natal,Tirol
1,3.0,196.0,2.0,2.0,0,R$ 225.000,Natal,Neópolis
2,3.0,200.0,3.0,2.0,0,R$ 220.000,Natal,Pitimbu
3,2.0,155.0,1.0,2.0,1,R$ 250.000,Natal,Pajuçara
4,5.0,NaN,1.0,3.0,1,R$ 250.000,Natal,Barro Vermelho